@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root('::placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin stateful-input($sel, $width) {
  @at-root #{selector-append(&, $sel)} {
      @content;
      font-family: $font-family-monospace;
      width: $width;

      &-success {
          @extend #{selector-append('input', $sel)};
          border-color: green;

          @include hover-focus-active {
              @extend #{selector-append('input', $sel, '-success')};
          }
      }

      &-warning {
          @extend #{selector-append('input', $sel)};
          border-color: orange;

          @include hover-focus-active {
              @extend #{selector-append('input', $sel, '-warning')};
          }
      }

      &-failure {
          @extend #{selector-append('input', $sel)};
          border-color: red;

          @include hover-focus-active {
              @extend #{selector-append('input', $sel, '-failure')};
          }
      }
  }
}